@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
:root{
    --branco:#fff;
    --preto:#000;
    --contraste:#b8b8b8;
    --cor1:rgb(40, 170, 98);
    --base2:rgb(5, 155, 165);
}
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x:hidden;
    width: 100vw;
    height: 100vh;
}

body{
    background-image: url(../../resources/assets/FundoSocial.png);
    background-size: 20%;
}

.menu{
    background: var(--base2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:10vh;
    background: linear-gradient(30deg,var(--cor1), var(--base2));
}

#btnmenu{
    transition: 100ms;
    margin: 0 20px 0 20px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#btnmenu:hover{
    cursor: pointer;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 35px;
}

.leftside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    align-items: center;
}

.leftside nav{
    display: flex;
    justify-content: space-around;
    padding: 0.5%;
    align-items: center;
    background: white;
    width: 85%;
    border-radius: 25px;
}

.leftside nav div{
    cursor: pointer;
    user-select: none;
    transition: 500ms;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 70px;
    color: white;
    background: linear-gradient(70deg,var(--base2), var(--cor1));
}

.leftside nav div:hover{
    width: 160px;
}

.leftside nav div i{
    font-size: 50px;
}

.leftside nav div span{
    margin-left: 10px;
}

.leftside.ativo{
    justify-content: flex-end;
}

.midside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

.rightside{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 33%;
    height: 100%;
}

.rightside > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.rightside > div span{
    padding: 3px;
}

/* Screens da pagina */

.titulo{
    text-align: center;
    font-size: 55px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#carrosel{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
    position: relative;
    padding: 10px;
}
#carrosel i{
    transition: 299ms;
    margin: 10px;
    background: var(--cor1);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    font-size: 150px;
}
#carrosel i:hover{
    font-size: 160px;
}
i.left{
    left: 0;
}
i.right{
    right: 0;
}
#carrosel img{
    z-index: 1;
    width: 90%;
    box-shadow: inset 10px 0 500px black;   
}
#carrosel .slider{
    display: none;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
}
#carrosel .slider.on{
    display: flex;
}
#carrosel .slider img{
    height: 100%;
}
img{
    object-fit: cover;
}
.screen1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;   
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    background-color: var(--cor1);
    border-radius: 3em;
    padding: 4%;
    font-size: 2.5em;
}
.doencas1 div , .doencas2 div{
    padding: 30px;
    background: #fff;
}
.doencas1 , .doencas2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 50px;
}
.doencas1 h1, .doencas2 h1{
    font-size: 40px;
}
.doencas1 p, .doencas2 p{
    font-size: 30px;
}
.doencas1 img,.doencas2 img{
    margin: 20px;
    padding: 25px;
    background: var(--base2);
}
.doencas1{
    background:linear-gradient(var(--cor1),var(--base2));
}
.doencas2{
    background:linear-gradient(var(--base2),var(--cor1));
}

.doencas1 img,.doencas2 img{
    height: 80%;
}

.doencas1 section,.doencas2 section{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    background: white;
    border-radius: 25px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--cor1);
    width: 100%;
    height: 30vh;
}
footer img{
    width: 250px;
}
footer .lista{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 90%;
    font-size: 20px;
}
footer .lista h3{
    font-weight: bold;
    font-size: 30px;
}
footer .lista > *{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    margin: 2%;
    width: 70%;
    margin: 5px;
    font-size: 25px;
}
footer .lista a:hover{
    color: rgb(98, 112, 236);
}
footer .lista i{
    font-size: 30px;
}