@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
:root{
    --branco:#fff;
    --preto:#000;
    --contraste:#b8b8b8;
    --cor1:rgb(40, 170, 98);
    --base2:rgb(5, 155, 165);
}
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

body{
    background-image: url(../../resources/assets/FundoSocial.png);
}

.menu{
    background: var(--base2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:10vh;
    background: linear-gradient(30deg,var(--cor1), var(--base2));
}

#btnmenu{
    transition: 100ms;
    margin: 0 20px 0 20px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#btnmenu:hover{
    cursor: pointer;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 35px;
}

.leftside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    align-items: center;
}

.leftside nav{
    display: flex;
    justify-content: space-around;
    padding: 0.5%;
    align-items: center;
    background: white;
    width: 85%;
    border-radius: 25px;
}

.leftside nav div{
    cursor: pointer;
    user-select: none;
    transition: 500ms;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 70px;
    color: white;
    background: linear-gradient(70deg,var(--base2), var(--cor1));
}

.leftside nav div:hover{
    width: 160px;
}

.leftside nav div i{
    font-size: 50px;
}

.leftside nav div span{
    margin-left: 10px;
}

.leftside.ativo{
    justify-content: flex-end;
}

.midside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

.rightside{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 33%;
    height: 100%;
}

.rightside > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.rightside > div span{
    padding: 3px;
}

/* Screens da pagina */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    background: #fff;
}

.imgmain{
    width: 60%;
    height: 100%;
}

body > h1{
    text-align: center;
    font-size: 85px;
    margin: 20px;
    background: var(--cor1);
    border-radius: 25px;
}

.mai>h1{
    font-size: 6em;
    text-align: center;
}

.submain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    padding: 50px;
    font-size: 45px;
    text-align: justify;
}

.submain2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}
div h1{
    box-shadow: 0 0 10px black;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* font-size: 4em; */
    background-color: var(--base2);
    border-radius: 1em;
    width: 90%;
    padding: 2rem;
}

.text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5em;
    background-color: var(--base2);
    border-radius: 1em;
    width: 90%;
    padding: 2rem;
}

.text3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5em;
    background-color: var(--base2);
    border-radius: 1em;
    width: 90%;
    padding: 2rem;
    margin-top: 1rem;
}

.gastrite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--base2);
    padding-bottom: 50px;
}

.gastrite>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 4em;
    background-color: var(--cor1);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.texts{
    width: 90%;
    height: 40vh;
    text-align: center;
    font-size: 2.7em;
    background-color: var(--cor1);
    border-radius: 0 0 3em 3em;
    padding: 20px;
}

.imggas{
    width: 40%;
    height: 50vh;
    border-radius: 0 0 6em 6em;

}
h1{
    z-index: 999;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.diabetes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--cor1);
}

.diabetes>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 4em;
    background-color: var(--cor1);
    /* box-shadow: 0 0 10px black; */
}

.quadtest{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    height: 90vh;
}

.textsdia{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--base2);
    height: 100%;
    width: 60%;
    font-size: 3.5em;
}

.imgdia{
    height: 70%;
    width: 35%;
    border-radius: 0 4em 4em 0;
}

.colesterol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--base2);
}

.colesterol>h1{
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 4em;
}

.quadtestc{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 90vh;
}

.textsco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    text-align: center;
    height: 100%;
    width: 60%;
    padding: 20px;
    font-size: 3em;
}

.imgco{
    height: 70%;
    width: 35%;
    border-radius: 4em 0 0 4em;
}

.obesidade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.obesidade>h1{
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 4em;
    background: linear-gradient(90deg, var(--cor1), var(--base2));
}

.imgob{
    height: 40vh;
    width: 50%;
}

.textsobe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    text-align: center;
    font-size: 2.5em;
    background-color: var(--base2);
}

.hipertensao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;;
    background-color: var(--base2);
}

.hipertensao>h1{
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 4em;
    background-color: var(--cor1);
}

.textshiper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40vh;
    text-align: center;
    font-size: 2.7em;
    background-color: var(--cor1);
    border-radius: 0 0 3em 3em;
}
img{
    border-radius: 25%;
    object-fit: cover;
}
.imghiper{
    width: 40%;
    height: 50vh;
    border-radius: 0 0 6em 6em;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--cor1);
    width: 100%;
    height: 30vh;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
footer img{
    width: 250px;
}
footer .lista{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 90%;
    font-size: 20px;
}
footer .lista h3{
    font-weight: bold;
    font-size: 30px;
}
footer .lista > *{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    margin: 2%;
    width: 70%;
    margin: 5px;
    font-size: 25px;
}
footer .lista a:hover{
    color: rgb(98, 112, 236);
}
footer .lista i{
    font-size: 30px;
}