@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

:root{
    --branco:#fff;
    --preto:#000;
    --contraste:#b8b8b8;
    --cor2:rgb(40, 170, 98);
    --base2:rgb(5, 155, 165);
}

/* Definições Basicas */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    position:relative;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background: url('./resources/assets/FundoSocial.png');
    background-size: 20%;
}

.home_screen{
    display: flex;
    flex-wrap: wrap;
}
/* Headers */
.menu{
    background: var(--cor2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:10vh;
    background: linear-gradient(30deg,var(--cor2), var(--base2));
}
.imglogo{
    width: 8em;
    height: 8em;
}
#btnmenu{
    transition: 100ms;
    margin: 0 20px 0 20px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#btnmenu:hover{
    cursor: pointer;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 35px;
}
.leftside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    align-items: center;
}
.leftside nav{
    display: flex;
    justify-content: space-around;
    padding: 0.5%;
    align-items: center;
    background: white;
    width: 85%;
    border-radius: 25px;
    color: white;
}
.leftside nav div{
    cursor: pointer;
    user-select: none;
    transition: 500ms;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 70px;
    background: linear-gradient(70deg,var(--cor2), var(--base2));
}
.leftside nav div:hover{
    width: 160px;
}
.leftside nav div i{
    font-size: 50px;
}
.leftside nav div span{
    margin-left: 10px;
}
.leftside.ativo{
    justify-content: flex-end;
}
.midside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}
.rightside{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 33%;
    height: 100%;
}
.rightside > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.rightside > div span{
    padding: 3px;
}
/* carrosel */
.container-slider{
    display: flex;
    background-color: white;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-images{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.slider{
    background-color: var(--cor2);
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    height: 85vh;
    border-radius: 1em;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.on{
    opacity: 1;
}

.quad{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info-slider{
    width: 60%;
}
.image-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.quad img{
    height: 80%;
}

.quad h1{
    font-size: 7em;
}

.quad h3{
    font-size: 3em;
}

#prev-button, #next-button{
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
    border: none;
    background-color: var(--cor2);
    border-radius: 1em;
    cursor: pointer;
}

#prev-button img, #next-button img{
    width: 5em;
    height: 5em;
}

#prev-button{
    transform: rotate(180deg);
}
/* Corpo */
.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}
#cel .img img{
    transform: translateX(25%);
    height: 90%;
}
#cel{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    /* align-items: center; */
}
#cel .text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
#cel .text *{
    margin: 1%;
}
#cel .text h1{
    font-weight: 900;
    font-size: 60px;
}
#cel .text h2{
    font-size: 50px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    position: absolute;
}
.main > div{
    margin-top: 5%;
}
.main > .carrossel{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 80%;
    height: 60vh;
    background: var(--cor1);
}
.main > .carrossel .left,.right{
    transition: 100ms;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    padding: 0 2.5% 0 2.5%;
    display: flex;
    opacity: 100%;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.main > .carrossel .left{
    top: calc(50% - 25px);
    left: 0;
}
.main > .carrossel .right{
    top: calc(50% - 25px);
    right:  0;
}
.content{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--cor2);
}
.main > .carrossel .left:hover,.right:hover{
    opacity: 100%;
    font-size: 60px;
    text-shadow: 0 0 5px black;
} 
.left:hover{
    animation: anim_left 500ms infinite;
}
.right:hover{
    animation: anim_right 500ms infinite;
}
@keyframes anim_left {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes anim_right {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* QUEM SOMOS */
.quemsomos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--cor2);
}

.quemsomos>h1{
    text-align: center;
    border: none;
    font-size: 5em;
    position: absolute;
    top: 0;
    border-radius: 1em;
    background: linear-gradient(75deg, var(--base2), rgba(255, 255, 255, 0.15), var(--base2));
    width: 12em;
    height: 10vh;
}

.informa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    height: 75vh;
    font-size: 3.8em;
    background-color: var(--base2);
    padding: 4rem;
    border-radius: 1em;
    margin-top: 1em;
}

/* sobre plat*/
.sobreplat{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: none;
}

.infoe{
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    height: 100vh;
    width: 40%;
}

.box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    padding: 1rem;
    align-items: center;
}

.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    border-radius: 5em;
}

.imgsobre{
    width: 100%;
    height: 100%;
    border-radius: 5em;
}

.textes{
    font-size: 2em;
    text-align: center;
    width: 65%;
}

.infod{
    display: flex;
    width: 60%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.img1{
    z-index: 1;
    margin-top: -30%;
    width: 24em;
    height: 24em;
    border-radius: 3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.quadv{
    width: 30em;
    height: 30em;
    margin-left: -20%;
    border-radius: 3em;
    background-color: var(--cor2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.img2{
    object-fit: cover;
    margin-top: 30%;
    margin-left: -20%;
    width: 26em;
    height: 24em;
    border-radius: 3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* receitas saudaveis */
.receitas{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--cor2);
    justify-content: center;
    align-items: center;
}

.hrece{
    padding: 10px;
    height: 10vh;
    width: 100%;
    font-size: 4em;
    text-align: center;
}

.quadreceita{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-image: url(resources/assets/fruitsocial.jpg);
    background-size: 20%;
}

.quadre{
    /* display: flex; */
    flex-direction: column;
    width: 30%;
    height: 50%;
    background-color: var(--cor2);
    margin: 1rem;
    border-radius: 2em 2em 5em 5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.600);
    transition: 0.25s;
}

.quadre:hover{
    height: 87vh;
}

.quadre:hover>.imgre{
    height: 40%;
}

.quadre:hover>.off{
    visibility: visible;
    transition: 0.10s;
}

.imgre{
    border-radius: 2em 2em 0 0;
    width: 100%;
    height: 80%;
    transition: 0.25s;
}

.off{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 1.4em;
    /* width: 95%; */
    /* height: 100%; */
    visibility: hidden;
    transition: 0.25s;
}

.labelre{
    display: flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    transition: 0.5s;
}

/* CEOS */
.ceos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--branco);
}

.hceo{
    padding: 0;
    text-align: center;
    font-size: 5em;
    width: 100%;
    height: 10vh;
}

.quadceo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 90vh;
}

.ceo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 60%;
    margin: 1rem;
}

.fotoceo{
    object-fit: cover;
    z-index: 1;
    width: 50%;
    height: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 10em;
    margin-top: 2em;
}

.label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 55%;
    background: linear-gradient(var(--base2), var(--cor2));
    padding: 1rem;
    margin-top: -2em;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.nomeceo{
    text-align: center;
    font-size: 3em;
}
.statusceo{
    text-align: center;
    font-size: 2em;
}
/* PAGINA DE LOGIN E CADASTRO */

/* PAGINA DE PERFIL */
.profile_screen{
    display: none;
}
.profile_screen.ativo{
    width: 100vw ;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile_screen > i {
    top: 0;
    left: 0;
    margin: 1%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.profile_screen.ativo > i:hover{
    cursor: pointer;
    box-shadow: 0 0 5px black inset;
}
.profile_screen.ativo > section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    background: #fff;
    height: 100%;
}
.profile_screen.ativo > section .upper{
    position: relative;
    width: 90%;
    height: 30%;
    background: #ccc;
}
.profile_screen.ativo > section .bottom{
    width: 90%;
    height: 70%;
    border-left:5px solid #ccc ;
    border-right: 5px solid #ccc;
}
.profile_screen.ativo > section .profile_image{
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translate(70px,50px);
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 50%;
}
.profile_screen.ativo > section .profile_image:hover::after{
    cursor: pointer;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background-image: url("../resources/assets/Edit.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 30%;
    text-shadow: 0 0 5px black;
}
.profile_screen.ativo > section h1{
    color: white;
    width: 70%;
    background: #5f5f5f;
    padding: 1%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    font-size: 35px;
    left: 30%;
    bottom:25px;
}
.profile_screen.ativo .troca_imagem_screen{
    display: none;
}
.profile_screen.ativo .troca_imagem_screen.ativo{
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 15px black inset;
}
.profile_screen.ativo .troca_imagem_screen.ativo div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    background: #fff;
    box-shadow: 0 0 5px black;
    border-radius: 25px;
}
.profile_screen.ativo .troca_imagem_screen.ativo div i{
    top: 0;
    left: 0;
    margin: 2%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.profile_screen.ativo .troca_imagem_screen.ativo div i:hover{
    cursor: pointer;
    box-shadow: 0 0 5px black inset;
}
.logoHome{
    width: 10%;
}
.logoHome:hover{
    width: 30%;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--cor2);
    width: 100%;
    height: 30vh;
}
footer img{
    width: 250px;
}
footer .lista{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 90%;
    font-size: 20px;
}
footer .lista h3{
    font-weight: bold;
    font-size: 30px;
}
footer .lista > *{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    margin: 2%;
    width: 70%;
    margin: 5px;
    font-size: 25px;
}
footer .lista a:hover{
    color: rgb(98, 112, 236);
}
footer .lista i{
    font-size: 30px;
}